version: "3.8"

services:
  blockchain:
    build:
      context: .
      dockerfile: docker/Dockerfile

    container_name: secure-vault-blockchain

    ports:
      - "8545:8545"

    restart: unless-stopped
